.widget {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: fit-content;
    

    font-family: 'Menlo', 'Consolas', 'Liberation Mono', monospace;
}

.button {
    border-radius: 12px;
    cursor: pointer;
}

.info-pop {
    padding: 25px;
}

.info {
    margin: 0;
}